.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20px;
  color: white;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CardStyle{
  display:flex;
  justify-content: center;
  align-self: center;
  height: 30vh;
}

.Card-main{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%; /* Take up available space */
  max-width: 300px; /* You can adjust this as per your need */
  background-color: darkgrey;
  border-radius: 10px;
  box-sizing: border-box;
  gap: 15px; /* Add gap between elements */
}

.App-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-button{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}