.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20px;
  color: white;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CardStyle{
  display:flex;
  justify-content: center;
  align-self: center;
}

.Card-main{
  padding: 10px;
  min-width: 50px;
  max-height: 100px;
  min-height: 100px;
  background-color: darkgrey;
  border-radius: 10px;
}

.App-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-button{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}